<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
    <div>
        <h1>Dane użytkownika</h1>
        <p th:text="${user.name}"></p>
        <p th:text="${user.id}">Id</p>
        <p th:text="${user.age}">Age</p>
        <div th:if="${user.age > 35} == true">powyżej średniej</div>
        <div th:switch="${user.userType.toString()}">
            <p th:case="ADMIN">ADMINSTRATOR</p>
            <p th:case="GUEST">GOSC</p>
            <p th:case="REGISTERED">ZAREJESTROWANY</p>
        </div>

        <p th:text="${user.registrationDateString()}">RegistrationDate</p>
    </div>
    <div>
        <p>Czy artur na stronie: <span th:text="${user.name == 'Artur' ? 'tak' : 'nie'}"></span>   </p>
    </div>
    <div th:if="${user.daysFromRegistration() > 200 && user.age < 30} == true">
        <p th:text="'Witaj ' + ${user.name} + '!'"></p>
        <p th:text="'od Twojejrejestracji minęło ' + ${user.daysFromRegistration()} + ' dni.'"></p>
    </div>
</body>
</html>