<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table style="border: brown 1px solid">
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}">A Smoke Test'</td>
            <td th:text="${user.name}">A Smoke Test'</td>
            <td th:text="${user.age}">A Smoke Test'</td>

            <td th:text="${user.registrationDate}">A Smoke Test'</td>
            <td th:switch="${user.userType.toString()}">
                <p th:case="ADMIN">ADMINSTRATOR</p>
                <p th:case="GUEST">GOSC</p>
                <p th:case="REGISTERED">ZAREJESTROWANY</p>
            </td>


        </tr>
    </th:block>
</table>

</body>
</html>