<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" th:action="@{/create}" th:object="${user}">
    <h1>Create user</h1>

    <label for="name">Name:</label>
    <input type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Name Error
        </span>

    <br/>

    <label for="age">Age:</label>
    <input type="text" th:field="*{age}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('age')}"
          th:errors="*{age}">Age Error
        </span>

    <br/>

    <label for="userType">UserType</label>

    <select name="userType">
        <option th:each="colorOpt : ${T(com.tje.users.User.UserType).values()}"
                th:value="${colorOpt}" th:text="${colorOpt}"></option>
    </select>


    <br/>



    <input type="submit" value="Submit"/>
</form>

</body>
</html>