<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create person form</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1>Create person form</h1>


    <form method="POST" th:action="@{/create}" th:object="${person}">
        <h1>Create person</h1>
        <div th:if="${#fields.hasErrors()}">
          <span class="validationError">
             Please correct the problems below and resubmit.
          </span>
        </div>
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}"/>

        <span class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">Name Error
        </span>
        <br/>

        <label for="age">Age:</label>
        <input type="text" th:field="*{age}"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('age')}"
              th:errors="*{age}">Age Error
        </span>
        <br/>


        <label for="postal">Postal code:</label>
        <input type="text" th:field="*{postal}"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('postal')}"
              th:errors="*{postal}">Postal Error
        </span>
        <br/>

        <label for="earning">Earning</label>
        <input type="text" th:field="*{earning}"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('earning')}"
              th:errors="*{earning}">Earning Error
        </span>
        <br/>

        <label for="isAccepting">Do you accept our terms?</label>
        <input type="checkbox" name="active" th:checked="${isAccepting}" />
        <span class="validationError"
              th:if="${#fields.hasErrors('isAccepting')}"
              th:errors="*{isAccepting}">isAccepting Error
        </span>
        <br/>

        <input type="submit" value="Submit"/>
    </form>


</body>
</html>